<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--IOC-->
    <bean id="helloworld" class="com.test.ioc.HelloWorld">
        <property name="name" value="yhl"></property>
    </bean>

    <!--AOP-->
    <bean id="testAdvisor" class="com.test.aop.TestAdvisor"></bean>
    <bean id="target" class="com.test.aop.Target"></bean>
    <bean id="testAop" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="targetName">
            <value>target</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>testAdvisor</value>
            </list>
        </property>
    </bean>
</beans>